# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr

# GIT
*.patch
*.diff

# JAVA
*.class

# PACKAGES
*.exe
*.vbs
*.jar

# BUILD
lib/
target/
runtime/

# APP
config/
discord-ipc-*

# SYSTEM
.DS_Store
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
$RECYCLE.BIN/
