name: Build Osulux

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build Java Project
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [21]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: ${{ matrix.java }}
        cache: maven
    - name: Display Java version
      run: java -version
    - name: Build with Maven
      run: mvn clean package
